.avatar {
    color: white;
}

.avatar-img {
    width: 32px;
}

.label {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 14px;
}

.label span:hover {
    color: #4db5ff;
}

.sign-up {
    border: none;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: #000;
}

.sign-up:hover {
    transition: all 0.4s ease-in-out;
    background-color: #4db5ff;
    color: white;
}