.page-hero {

    /* min-height: 20vh; */
    /* width: 1920px; */
    /* background: hsl(210, 36%, 96%); */
    color: #4db5ff;
    font-size: 30px;
}

.page-hero-title {
    font-weight: 500;

}

.section-center {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* display: grid; */
    /* place-items: center; */
    /* display: flex; */
    justify-content: space-between;
}

.page-hero-twilight {
    color: black;
    font-weight: 500;
    font-size: 43px
}